.sidebarChats{
    display: flex;
    padding: 20px;
    cursor:pointer;
    border-bottom: 1px solid #f6f6f6;
}
.sidebarChats:hover{
    background-color: #ebebeb;
}
.sidebarChats_info{
    margin-left: 15px;

}

.sidebarChats_info > h2{
    font-size: 20px;
    margin-bottom: 8px;

} 